@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 33% 15%;
    --foreground: 0 0% 98%;

    --card: 250 30% 25%;
    --card-foreground: 0 0% 98%;
 
    --popover: 246 33% 15%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 262 88% 66%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4% 26%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 5% 65%;
    --muted-foreground: 240 5% 65%;
 
    --accent: 240 4% 26%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 26%;
    --input: 240 4% 26%;
    --ring: 262 88% 66%;
 
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 246 33% 15%;
    --foreground: 0 0% 98%;

    --card: 250 30% 25%;
    --card-foreground: 0 0% 98%;
 
    --popover: 246 33% 15%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 262 88% 66%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4% 26%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 5% 65%;
    --muted-foreground: 240 5% 65%;
 
    --accent: 240 4% 26%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 26%;
    --input: 240 4% 26%;
    --ring: 262 88% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html, body, #__next {
    font-family: 'Cairo', 'Readex Pro', system-ui, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    height: 100%;
    overflow-x: hidden;
  }
}

.card-glass {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  @apply rounded-2xl shadow-lg;
}
